# Dépendances
node_modules/
.pnpm-store/

# Environnement
.env
.env.local
.env.*.local

# Fichiers de build / production
dist/
.next/
out/

# Logs et système
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db